{{template "header" .}}
{{template "navbar" .}}

<div class="container-xxl py-4">
  <div class="row gx-5">
    <div class="col-2 d-none d-sm-block">
      <!-- larger screens -->
      <div class="p-4 border-1 "><img alt="ArcWiki" class="block" width="150px" height="auto"
          src="/images/electric-icon.png" />
        <ul class="nav flex-column">
          {{.Menu}}
        </ul>
      </div>
    </div>
    <div class="col-12 d-block d-sm-none">
      <!-- show on small screen -->
      <div class="p-4 border-1">
        <div class="float-end">
          <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
            <a class="btn btn-sm btn-outline-secondary" href="#">Article</a>
            <a class="btn  btn-sm btn-outline-secondary" href="#">Talk</a>
            <a class="btn btn-sm btn-outline-secondary" href="edit/{{.Title}}">Edit</a>
            <a class="btn btn-sm btn-outline-secondary" href="title/{{.Title}}">Edit</a>
          </div>
        </div>

        <h1 class="pageTitle">{{.Title}}</h1>


        <div class="contentbod"></div>

        {{.Body}}
      </div>
    </div>
    <div class="col-10 d-none d-sm-block">
      <!-- larger screens -->

      <div class="p-4 border-1">
        <div class="float-end">
          <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
            <a class="btn btn-sm btn-outline-secondary" href="#">Article</a>
            <a class="btn  btn-sm btn-outline-secondary" href="#">Talk</a>
            <a class="btn btn-sm btn-outline-secondary" href="edit/{{.Title}}">Edit</a>
            <a class="btn btn-sm btn-outline-secondary" href="/admin">Admin</a>
          </div>
        </div>

        <h1 class="pageTitle">Error Happened</h1>


        <div class="contentbod"></div>

        an error happened maybe a 404
      </div>
      {{template "footer" .}}
    </div>
    
  </div>
  
</div>
