{{define "navbar"}}
{{.ThemeColor}}
      {{.NavTitle}}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="navbar-nav ms-auto mb-2 mb-lg-0">


        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" aria-current="page" href="/search">Search</a>

        <a class="nav-link" href="/title/Special:AllPages">All Pages</a>


        <a class="nav-link" href="/title/Special:Categories">All Categories</a>


        <a class="nav-link" href="/title/Category:Help">Help</a>


        <a class="nav-link" href="https://github.com/ArcWiki/ArcWiki">About</a>
        
      </div>
    </div>
    
  </div>

</nav>


{{end}}